/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*body{
}
*/


-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 2px solid #555555;
}

.container{
  position: relative;
  width:75% !important;
  max-width :1300px !important;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

main {
  flex: 1 0 auto;
  min-height: 70vh;
}

#main {
  flex: 1 0 auto;
  min-height: 70vh;
}


html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

footer{
  /*position: absolute;*/
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #333333 !important;
  color : #FFFFFF !important;
}

.footer-container{
  width:80%;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 1.5rem;
}

a.link-clr{
  color : #26a69a !important;
}

a.link-clr:hover{
  color :#80cbc4  !important;
}

.prm-clr{
  background-color: #3A3A3A !important;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.title{
  color : #444444;
}

.add-button{
  /*margin-bottom: 35px;*/
  padding-left: 25px;
}

.folder-table{
  border: 1px solid #444444;
  padding: 15px;
}

.breadcrumbs .breadcrumb{
  color : #444444 !important;
}

.close{
    color:#ff5252;
}

.list-item{
    margin-bottom:0px;
}

.searchbox{
  height : 64px !important;
  background-color : #FFFFFF;
  padding-left: 100px !important;
  width:90% !important;
}

.searchbox-label{
  background-color: black !important;
  width: 70px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  left : 0 !important;
}

.list-delegates{
  margin-top: 50px;
  padding : 10px;
}

.search-bar{
  background-color: #FFFFFF;
}


.component-content{
  margin-top: 50px;
}

.signup{
  /*border-right : dashed 2px #444444;*/
  padding: 50px !important;
}

.login{
  padding: 50px !important;
}

.btn-flat{
  border : 1px solid #444444;
}

#search-dropdown-delegates{
  /*padding-left: 50px;*/
  width: 100% !important;
}

td,th{
  padding: 0px 5px;
}

.table-margin{
  margin-top: 35px;
  /*padding-bottom: 35px;*/
}

.folder-table{
  /*border-bottom : 1px dotted #444444;*/
}

.flip{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  text-align: center;
}

.sub-folders{
  padding-left: 20px;
}

.delegation-card{
  background-color: #444444;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.hm-footer{
  background-color: #3A3A3A !important;
}


.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.account-icon{
  margin-top:15px;
}

.card-action .btn-flat{
  color : #ff5252 !important;
}

.btn-margin{
  margin-top:15px;
}

.page-footer{
  margin-top: 50px !important;
  z-index: 99999;
}

.searchbox-contacts{
  width: 65px !important;
  background: black;
  padding-right: 19px !important;
  font-size: larger;
  font-size: 31px !important;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 6px;
}

.searchbox-contacts h1{
  padding-left: 3px;
  padding-bottom: 6px;
  font-size: 36px;
  margin-bottom: 14px;
  margin-top: 20px;
  color :white;
}

.bg-img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background:linear-gradient(rgba(255, 253, 253, 0.6), rgba(225, 225, 225, 0.6)),url('/assets/img/background.jpg');
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: -999;
}

.contact-input{
  padding-left: 5px !important;
  margin-bottom: -1px;
  margin-top: 0px;
  height: 76px;
}

@media only screen and (min-width: 1400) {
    .container {
        max-width: 1366px !important;
        width: 80% !important;
    }
}      