<div class="row component-content">
 
  <form class="col l8 offset-l4 signup z-depth-2" (ngSubmit)="onSubmit()">
    <div class="row">
      <h4 class="col l6">{{title}}</h4>
      <a [routerLink]="['/Login']" class="btn-flat hoverable waves-effect waves-light col l6" type="submit" name="action">Already Have Account ? Login
        <i class="material-icons right">send</i>
      </a>
    </div>
    <div class="row">
      <div class="input-field col l4">
        <i class="material-icons prefix">perm_identity</i>
        <input id="icon_fname" type="text" class="validate" [(ngModel)]="details.firstName" required>
        <label for="icon_fname">First Name</label>
      </div>
      <div class="input-field col l4">
        <i class="material-icons prefix">perm_identity</i>
        <input id="icon_mname" type="text" class="validate" [(ngModel)]="details.middleName" required>
        <label for="icon_mname">Middle Name</label>
      </div>
      <div class="input-field col l4">
        <i class="material-icons prefix">perm_identity</i>
        <input id="icon_lname" type="text"  class="validate" [(ngModel)]="details.lastName" required>
        <label for="icon_lname">Last Name</label>
      </div>

      <div class="input-field col l12">
        <i class="material-icons prefix">email</i>
        <input id="icon_email" type="email"  class="validate" [(ngModel)]="details.email" required>
        <label for="icon_email">Email</label>
      </div>

      <div class="input-field col l12">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text"  class="validate" [(ngModel)]="details.username" required>
        <label for="icon_prefix">Username</label>
      </div>
      <div class="input-field col l6">
        <i class="material-icons prefix">lock</i>
        <input id="icon_password" type="password"  class="validate" [(ngModel)]="details.password" required>
        <label for="icon_password">Password</label>
      </div>
      <div class="input-field col l6">
        <i class="material-icons prefix">lock</i>
        <input id="icon_rpasswd" type="password" class="validate" [(ngModel)]="rPassword" required>
        <label for="icon_rpasswd">Retype Password</label>
      </div>
      <span class="col l3 offset-l6">{{status}}</span>
      <button class="btn waves-effect waves-light col l3 offset-l9" type="submit"  [disabled]="rPassword!=details.password" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
