 <footer class="page-footer">
  <div class="container footer-container">
    <div class="row">
     <!--  <div class="col l8 s12">
        <img class="img-responsive" src="assets/img/belzabar_logo.gif">
      </div> -->
      <div class="col l8 offset-l2  s12">
        <img class="img-responsive" src="assets/img/world-map.png">
      </div>
    </div>
  </div>
  <div class="footer-copyright hm-footer">
    <div class="container">
    © Copyright 2016 Belzabar Software. All rights reserved.
    </div>
  </div>
</footer>