<div class="component-content">
  <ul class="collapsible popout" data-collapsible="expandable">
    <li>
      <div class="collapsible-header active"><i class="material-icons">settings</i>Connect to my accounts</div>
      <div class="collapsible-body">
      	<p>
      	   This feature allows user to add email account which can be delegated to any other user of HyperEmail service(Email Delegation) or can be checked against spam (Anti-Spam feature).
      		<a [routerLink]="['/Accounts']"><i class="material-icons right">forward</i></a>
      	</p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">do_not_disturb</i>Anti Spam</div>
      <div class="collapsible-body">
      	<p>
      		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non ultrices erat. Aenean vel blandit massa. Praesent ac interdum nisi, non tincidunt nisl. Morbi mattis at velit eu bibendum. Vivamus quis gravida enim. Proin varius luctus cursus. Praesent quis egestas nibh. Nam porta purus eget lobortis volutpat. Nunc id lorem congue, lobortis eros in, dictum justo.
      		<a [routerLink]="['/Dashboard']"><i class="material-icons right">forward</i></a>
      	</p>
      </div>
    </li>
    <li>
      <div class="collapsible-header active"><i class="material-icons">supervisor_account</i>Email Delegation</div>
      <div class="collapsible-body">
      	<p>
      		This feature give access to user to delegate their email account (registered through Connect to my Account) to any other HyperEmail user.
      		<a [routerLink]="['/EmailDelegation']"><i class="material-icons right">forward</i></a>
      	</p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">folder_open</i>Email Organisation</div>
      <div class="collapsible-body">
      	<p>
      		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non ultrices erat. Aenean vel blandit massa. Praesent ac interdum nisi, non tincidunt nisl. Morbi mattis at velit eu bibendum. Vivamus quis gravida enim. Proin varius luctus cursus. Praesent quis egestas nibh. Nam porta purus eget lobortis volutpat. Nunc id lorem congue, lobortis eros in, dictum justo.
      		<a [routerLink]="['/Dashboard']"><i class="material-icons right">forward</i></a>
      	</p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">event_note</i>Reports</div>
      <div class="collapsible-body">
      	<p>
      		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non ultrices erat. Aenean vel blandit massa. Praesent ac interdum nisi, non tincidunt nisl. Morbi mattis at velit eu bibendum. Vivamus quis gravida enim. Proin varius luctus cursus. Praesent quis egestas nibh. Nam porta purus eget lobortis volutpat. Nunc id lorem congue, lobortis eros in, dictum justo.
      		<a [routerLink]="['/Dashboard']"><i class="material-icons right">forward</i></a>
      	</p>
      </div>
    </li>
  </ul>
</div>
          