<div class="row component-content">
  <a [routerLink]="['/Permissions', {delegationId : delegationId}]" class="btn-flat hoverable waves-effect waves-light col s6 l3">What can they do on my behalf?
	  <i class="material-icons left">undo</i>
	</a>
  <a [routerLink]="['/PrivateMessages', {delegationId : delegationId}]" class="btn-flat hoverable waves-effect waves-light col l3 s6 offset-l6 right"> Which messages are private?
    <i class="material-icons right">redo</i>
  </a>
</div>
<div class="row component-content">
  <h3 class="title"><u>{{title}}</u></h3>
</div>
<div class="row component-content">
  <div class="col l7 s12">
    <div class="row  z-depth-2 white">
      <div class="col l1 s2 searchbox-contacts ">
        <label class="black"><h1 class="material-icons">search</h1></label>
      </div>
      <div class="col l10 s10 input-field white contact-input">
        <input type="text" id="add-private-contacts" [(ngModel)]="filter" style="padding-left: 5px;height: 60px;"/>
        <label for="add-private-contacts">Type to filter full list of contacts</label>
      </div>
      <div class="col l1 white">
      </div>
    </div>
  </div>
</div>

<div class="component-content row">
  <div class="col l7 s12">
    <ul class="collection with-header">
      <li class="collection-header">
        <h4>Full List of Contacts</h4></li>
      <li class="collection-item  " *ngFor="let contact of listContacts | searchFilter : {'email' : filter};let idx = index">
        <div class="row list-item">
          <div class="col l1 s2">
            <input type="checkbox" id="contacts_checkbox_{{idx}}" [(ngModel)]="contact.status" (change)="onChange(idx, $event)">
            <label attr.for="contacts_checkbox_{{idx}}"></label>
          </div>
           <div class="col l11 s10">
            {{contact.email}} [{{contact.countMail}}]
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col l4 offset-l1 s12">
    <div class="row">
      <ul class="collection with-header">
        <li class="collection-header">
          <h4>Your Private Contacts</h4></li>
      </ul>
    </div>
    <div class="row">
      <ul class="collection with-header">
        <li class="collection-header">
          <h4>Anyone at these domain</h4></li>
        <li class="collection-item" *ngFor="let domain of domainFilters">
          <div class="row list-item">
            <div class="col l12 s12">
              {{domain.content}}
              <a class="secondary-content close" (click)="deleteDomainFilter(domain.id)"><i class="material-icons">delete_forever</i></a>
            </div>
          </div>
        </li>
        <li class="collection-item">
          <div class="row list-item z-depth-2">
            <form (submit)="addDomain()">
              <div class="col l9 s10 input-field">
                <input type="text" id="domains_text_2" [(ngModel)]="domainFilter.content" required>
                <label for="domains_text_2">Add Domain</label>
              </div>
              <div class="col l3 s2">
                <button class="btn waves-effect waves-light col l10 offset-l2 btn-margin" type="submit" name="action">Add
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </form>
          </div>
        </li>
      </ul>
    </div>
    <div class="row">
      <ul class="collection with-header">
        <li class="collection-header">
          <h4>These individuals</h4></li>
        <li class="collection-item" *ngFor="let individual of individualFilters">
          <div class="row list-item">
            <div class="col l12 s12">
              {{individual.content}}
              <a class="secondary-content close" (click)="deleteIndividualFilter(individual.id)"><i class="material-icons right">delete_forever</i></a>
            </div>
          </div>
        </li>
        <li class="collection-item">
          <div class="row list-item z-depth-2">
            <form (submit)="addIndividual()">
              <div class="col l9 s10 input-field">
                <input type="text" id="domains_text_3" [(ngModel)]="individualFilter.content" required>
                <label for="domains_text_3">Add Individual</label>
              </div>
              <div class="col l3 s2 ">
                <button class="btn waves-effect waves-light col l10 offset-l2 btn-margin" type="submit" name="action">Add
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
