	<div class="row component-content">
		<a [routerLink]="['/FolderAccess', {delegationId : delegationId}]" class="btn-flat hoverable waves-effect waves-light col l3 s6">What folders can they access?
		  <i class="material-icons left">undo</i>
		</a>
		<a [routerLink]="['/PrivateContacts', {delegationId : delegationId}]" class="btn-flat hoverable waves-effect waves-light col l3 offset-l6 right s6" > Which contacts are private?
	    <i class="material-icons right">redo</i>
	  </a>
	</div>

<div id="perm">

	<div class="row component-content">
		<h3 class="title"><u>{{title}}</u></h3>
		<div class="col l11 offset-l1 s12">
			<h5>Move messages into other folder?</h5>
				<div class="col l2 offset-l1 s12">
					<p>Contacts</p>
				</div>
				<div class="col l2 s6">
				  <p>
				    <input class="with-gap" name="group1" type="radio" id="test1" checked />
				    <label for="test1">Propose Move</label>
				  </p>
				</div>
				<div class="col l7 s6">
				  <p>
				    <input class="with-gap" name="group1" type="radio" id="test2" />
				    <label for="test2">Move</label>
				  </p>
				</div>
			
				<div class="col l2 offset-l1 s12">
					<p>Non Contacts</p>
				</div>
				<div class="col l2 s6">
				  <p>
				    <input class="with-gap" name="group2" type="radio" id="test3" checked />
				    <label for="test3">Propose Move</label>
				  </p>
				</div>
				<div class="col l7 s6">
				  <p>
				    <input class="with-gap" name="group2" type="radio" id="test4" />
				    <label for="test4">Move</label>
				  </p>
				</div>
		</div>

		<div class="col l11 offset-l1 s12">
			<h5>Delete messages?</h5>
				<div class="col l2 offset-l1 s12">
					<p>Contacts</p>
				</div>
				<div class="col l2 s6">
				  <p>
				    <input class="with-gap" name="group3" type="radio" id="test5" checked />
				    <label for="test5">Propose Delete</label>
				  </p>
				</div>
				<div class="col l7 s6">
				  <p>
				    <input class="with-gap" name="group3" type="radio" id="test6" />
				    <label for="test6">Delete</label>
				  </p>
				</div>
			
				<div class="col l2 offset-l1 s12">
					<p>Non Contacts</p>
				</div>
				<div class="col l2 s6">
				  <p>
				    <input class="with-gap" name="group4" type="radio" id="test7" checked />
				    <label for="test7">Propose Delete</label>
				  </p>
				</div>
				<div class="col l7 s6">
				  <p>
				    <input class="with-gap" name="group4" type="radio" id="test8" />
				    <label for="test8">Delete</label>
				  </p>
				</div>
		</div>

		<div class="col l11 offset-l1 s12">
			<h5>Send messages?</h5>
				<div class="col l2 offset-l1 s12">
					<p>Contacts</p>
				</div>
				<div class="col l2 s6">
				  <p>
				    <input class="with-gap" name="group5" type="radio" id="test9" checked />
				    <label for="test9">Send Immediately</label>
				  </p>
				</div>
				<div class="col l7 s6">
				  <p>
				    <input class="with-gap" name="group5" type="radio" id="test10" />
				    <label for="test10">[ 10 ] minutes delay</label>
				  </p>
				</div>
			
				<div class="col l2 offset-l1 s12">
					<p>Non Contacts</p>
				</div>
				<div class="col l2 s6">
				  <p>
				    <input class="with-gap" name="group6" type="radio" id="test14" checked />
				    <label for="test14">Send Immediately</label>
				  </p>
				</div>
				<div class="col l7 s6">
				  <p>
				    <input class="with-gap" name="group6" type="radio" id="test11" />
				    <label for="test11">[ ] minutes delay</label>
				  </p>
				</div>

				<div class="l4 offset-l2 s6">
					<p>
						<input id="send_checkbox" type="checkbox"/>
						<label for="send_checkbox">Send me a copy or BCC</label>
					</p>
				</div>
		</div>

		<div class="col l11 offset-l1 s12">
			<h5>Ask to see particular private messages?</h5>
				<div class="col l2 offset-l1 s12">
					<p>Contacts</p>
				</div>
				<div class="col l2 s12">
				  <p>
				    <input class="with-gap" name="group7" type="radio" id="test12" checked />
				    <label for="test12">Yes</label>
				  </p>
				</div>
				<div class="col l7 s12">
				  <p>
				    <input class="with-gap" name="group7" type="radio" id="test13" />
				    <label for="test13">No</label>
				  </p>
				</div>
		</div>
	</div>
</div>