<div class="row component-content">
	<a [routerLink]="['/Delegation', {delegationId : delegationId}]" class="btn-flat hoverable waves-effect waves-light col s6 l3">Email Delegation Options
		<i class="material-icons left">undo</i>
	</a>
	<a [routerLink]="['/FolderAccess', {delegationId : delegationId}]" class="btn-flat hoverable waves-effect waves-light col s6 l3 offset-l6 right" > Give Folder Permission
		<i class="material-icons right">redo</i>
	</a>
</div>
<div class="row component-content">
	<h3 class="title"><u>{{title}}</u></h3>
	<nav class="search-bar">
		<div class="nav-wrapper">
			<div class="input-field">
				<input id="searchbox1" class="searchbox dropdown-button" type="search" data-activates='search-dropdown-delegates' placeholder="Type username to filter full list of contacts to add delegates" [(ngModel)]="filter">
				<label id="searchbox-label1" class="searchbox-label" for="searchbox"><i class="material-icons">search</i></label>
				<i class="material-icons right">close</i>
			</div>
		</div>
	</nav>

	<div id='search-dropdown-delegates' class='dropdown-content collection'>
		 <!-- <table class="bordered highlight centered responsive-table collection">
      <thead>
        <tr class="collection-item">
          <th data-field="id">Name</th>
          <th data-field="name">Username</th>
        </tr>
      </thead>
     	<tbody>
     		<tr  class="collection-item" *ngFor="let user of users | searchFilter : {'username' : filter}; let idx = index" (click)="addDelegate(user.id)">
     			<td> {{user.firstName}} {{user.middleName}} {{user.lastName}} </td>
     			<td> {{user.username}} </td>
     		</tr>
     	</tbody>
		</table> -->
		<a class="collection-item" *ngFor="let user of users | searchFilter : {'username' : filter}; let idx = index" (click)="addDelegate(user.id)" >
			<!-- <template [ngIf]="idx < 3"> -->
				{{user.firstName}} {{user.middleName}} {{user.lastName}} [ {{user.username}}]</a>
			<!-- </template> -->
	</div>
	<div class="row list-delegates">
		<ul class="collection with-header">
			<li class="collection-header"><h4>Delegates</h4></li>
			<li class="collection-item" *ngFor="let delegate of delegates">
				<div class="row list-item">
					<div class="col l12 s12">
						{{delegate.user.firstName}} {{delegate.user.middleName}} {{delegate.user.lastName}} [ {{delegate.user.username}} ]
						<a class="secondary-content close" (click)="deleteDelegate(delegate.id)"><i class="material-icons right">close</i></a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>