<div class="row component-content">
  <a [routerLink]="['/Dashboard']" class="btn-flat hoverable waves-effect waves-light col l3 s6">Dashboard
    <i class="material-icons left">undo</i>
  </a>
</div>
<div class="component-content row">
  <h3 class="title"><u>{{title}}</u></h3>
  <div class="col l4 s8" *ngFor="let account of allAccounts;let idx = index">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator img-responsive" src="assets/img/account-logo.png" alt="Not Available">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{account.email}}<i class="material-icons left account-icon">email</i><i class="material-icons right account-icon">mode_edit</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{account.email | uppercase}}<i class="material-icons right account-icon">close</i></span>
        <div class="row">
          <form class="col l10 s12" (ngSubmit)="updateAccount(account.id,idx)">
            <div class="row">
              <div class="input-field col s10 offset-s1">
                <i class="material-icons prefix">email</i>
                <input id="acc-email" [(ngModel)]="account.email" type="text" class="validate" required>
                <label for="acc-email">Email Id</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s10 offset-s1">
                <i class="material-icons prefix">lock</i>
                <input id="acc-password" [(ngModel)]="account.password" type="password" class="validate" required>
                <label for="acc-password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s10 offset-s1">
                <i class="material-icons prefix">reply</i>
                <input id="acc-smtp-port" [(ngModel)]="account.smtpPort" type="number" class="validate" required>
                <label for="acc-smtp-port">SMTP Port</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s10 offset-s1">
                <i class="material-icons prefix">domain</i>
                <input id="acc-smtp-domain" [(ngModel)]="account.smtpDomain" type="text" class="validate" required>
                <label for="acc-smtp-domain">SMTP Domain</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s10 offset-s1">
                <i class="material-icons prefix flip">reply</i>
                <input id="acc-imap-port" [(ngModel)]="account.imapPort" type="number" class="validate" required>
                <label for="acc-imap-port">IMAP Port</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s10 offset-s1">
                <i class="material-icons prefix">domain</i>
                <input id="acc-imap-domain" [(ngModel)]="account.imapDomain" type="text" class="validate" required>
                <label for="acc-imap-domain">IMAP Domain</label>
              </div>
            </div>
            <div class="row">
              <button type="submit" class="col l10  s10 offset-s1 offset-s1 offset-l2 rightwaves-effect waves-green btn"><i class="material-icons right">update</i>UPDATE</button>
            </div>
          </form>
        </div>
      </div>
      <div class="card-action">
        <a class="btn-flat" (click)="deleteAccount(account.id)">Delete</a>
      </div>
    </div>
  </div>
</div>
<div class="row add-button">
  <a href="#modal1" class="modal-trigger btn waves-effect waves-light"><i class="material-icons right">add</i>Add Account</a>
  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 class="center">Add Account</h4>
      <div class="row">
        <form class="col l12 s12" (ngSubmit)="addAccount()">
          <div class="row">
            <div class="input-field col l12 s10 offset-s1">
              <i class="material-icons prefix">email</i>
              <input id="acc-email" [(ngModel)]="userEmailAccount.email" type="text" class="validate" required>
              <label for="acc-email">Email Id</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col l12 s10 offset-s1">
              <i class="material-icons prefix">lock</i>
              <input id="acc-password" [(ngModel)]="userEmailAccount.password" type="password" class="validate" required>
              <label for="acc-password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col l6 s10 offset-s1">
              <i class="material-icons prefix">reply</i>
              <input id="acc-smtp-port" [(ngModel)]="userEmailAccount.smtpPort" type="number" class="validate" required>
              <label for="acc-smtp-port">SMTP Port</label>
            </div>
            <div class="input-field col l6 s10 offset-s1">
              <i class="material-icons prefix">domain</i>
              <input id="acc-smtp-domain" [(ngModel)]="userEmailAccount.smtpDomain" type="text" class="validate" required>
              <label for="acc-smtp-domain">SMTP Domain</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col l6 s10 offset-s1">
              <i class="material-icons prefix flip">reply</i>
              <input id="acc-imap-port" [(ngModel)]="userEmailAccount.imapPort" type="number" class="validate" required>
              <label for="acc-imap-port">IMAP Port</label>
            </div>
            <div class="input-field col l6 s10 offset-s1">
              <i class="material-icons prefix">domain</i>
              <input id="acc-imap-domain" [(ngModel)]="userEmailAccount.imapDomain" type="text" class="validate" required>
              <label for="acc-imap-domain">IMAP Domain</label>
            </div>
          </div>
          <div class="row">
           <button type="submit" class="col s3 offset-S7 l2 offset-l10 modal-action modal-close waves-effect waves-green btn"><i class="material-icons right">add</i>ADD ACCOUNT</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
