 <div class="navbar-fixed"> 
  <nav class="white">
    <div class="nav-wrapper container">
      <a [routerLink]="['/Dashboard']" class="brand-logo">HyperEmail</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="['/Dashboard']">Dashboard<i class="material-icons left">dashboard</i></a></li>
        <li><a [routerLink]="['/EmailDelegation']">Delegations<i class="material-icons left">supervisor_account</i></a></li>
        <!-- Dropdown Trigger -->
        <li><a class='dropdown-button' data-activates='dropdown1'>{{user.firstName}} {{user.middleName}}  {{user.lastName}}<i class="material-icons right">expand_more</i><i class="material-icons left">person</i></a></li>
        
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="./login?logout"><i class="material-icons left">exit_to_app</i>Logout</a></li>
          <li class="divider"></li>
        </ul>

        
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a [routerLink]="['/Dashboard']">Dashboard<i class="material-icons left">dashboard</i></a></li>
        <li><a [routerLink]="['/EmailDelegation']">Delegations<i class="material-icons left">supervisor_account</i></a></li>
        <!-- Dropdown Trigger -->
        <li><a class='dropdown-button' data-activates='dropdown2'>Aditya Dixit<i class="material-icons left">person</i><i class="material-icons right">expand_more</i></a></li>
        
        <!-- Dropdown Structure -->
        <ul id='dropdown2' class='dropdown-content'>
          
          <li><a  href="./login?logout"><i class="material-icons left">exit_to_app</i>Logout</a></li>
          <li class="divider"></li>
        </ul>
      </ul>
    </div>
  </nav>
</div>