<div class="row component-content">
  <a [routerLink]="['/Dashboard']" class="btn-flat hoverable waves-effect waves-light col l3 s6">Dashboard
    <i class="material-icons left">undo</i>
  </a>
</div>
<div class="row component-content">
  <h3 class="title"><u>{{title}}</u></h3>

	<div class="col l4 m6 s12 z-depth-1 hoverable" *ngFor="let delegation of allDelegations">
	  <div class="card prm-clr delegation-card hoverable	">
	    <div class="card-content white-text">
	      <h3 class="card-title center-align"><b>{{delegation.name | uppercase}}</b></h3>
	    </div>
	    <div class="card-action prm-clr	">
	      <a class="link-clr" [routerLink]="['/Delegation', {delegationId : delegation.id}]">Configure</a>
	      <a class="link-clr right" (click)="deleteDelegation(delegation.id)">Delete</a>
	    </div>
	  </div>
	</div>
          
</div>

<div class="row component-content">
	<div class="col l6 s12">
		<form class="row z-depth-1" (ngSubmit)="addDelegation()" >
		  <div class="col l8 s8 input-field">
		    <input id="delegation_name" type="text" class="validate" [(ngModel)]="delegation.name" required>
		    <label for="delegation_name">Delegation Name</label>
		  </div>
		  <button type="submit" class="col l3  s3 btn waves-effect waves-light btn-margin"><i class="material-icons right">send</i>Add Delegation</button>
		</form>
	</div>
</div>
