<div class="row component-content">
	<a [routerLink]="['/PrivateContacts', {delegationId : delegationId}]" class="btn-flat hoverable waves-effect waves-light col l3 s12">Which contacts are private?
	  <i class="material-icons left">undo</i>
	</a>
	<!-- <a [routerLink]="['/PrivateMessages']" class="btn-flat hoverable waves-effect waves-light col l3 offset-l6 right" > Email Delegation Options?
    <i class="material-icons right">redo</i>
  </a> -->
</div>

<div class="row component-content">	
	<h3 class="title"><u>{{title}}</u></h3>
</div>

<div class="row component-content z-depth-1">
	<form (submit)="addKeyword()">
		<div class="col l10 s10 input-field	">
			<input type="text" id="add-private-messages" [(ngModel)]="filter.content" required/>
			<label for="add-private-messages">Add Private Messages Text</label>
		</div>
		<div class="col l2 s2">
				<button class="btn waves-effect waves-light col l10 offset-l2 btn-margin" type="submit" name="action">Add
	        <i class="material-icons right">send</i>
	      </button>
		</div>
	</form>
</div>

<div class="component-content row">
	<div class="col l12 s12">
		<ul class="collection with-header">
			<li class="collection-header"><h4>Private Messages</h4></li>
			<li class="collection-item" *ngFor="let filter of filters">
				<div class="row list-item">
					<div class="col l12 s12">
						{{filter.content}}
						<a class="secondary-content close" (click)="deleteKeyword(filter.id)"><i class="material-icons">delete_forever</i></a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>