<div class="row component-content">
  <a [routerLink]="['/AddDelegates', {delegationId : delegationId}]" class="btn-flat hoverable waves-effect waves-light col s6 l3">Who may help me?
    <i class="material-icons left">undo</i>
  </a>
  <a [routerLink]="['/Permissions', {delegationId : delegationId}]" class="btn-flat hoverable waves-effect waves-light col s6 l3 offset-l6 right"> What can they do on my behalf?
    <i class="material-icons right">redo</i>
  </a>
</div>
<h3 class="title component-content"><u>{{title}}</u></h3>
<div class="row component-content">
  <div class="col l6 s12" *ngIf="accounts">
    <label>Select Account</label>
    <select class="hoverable browser-default" [(ngModel)]="selAccount" (ngModelChange)="getFolders()">
      <option disabled selected>Choose your account</option>
      <option [ngValue]="account" *ngFor="let account of accounts">{{account.email}}</option>
    </select>
  </div>
  <div class="row component-content" *ngIf="!accounts">
    <pre-loader></pre-loader>
  </div>
</div>
<!-- # 1 -->
<div class="row component-content folder-table hoverable" *ngIf="selAccount.id">
  <h5><u><i class="material-icons left"> email</i><b>{{selAccount.email}}</b></u></h5>
  <table class="table-margin highlight">
    <thead>
      <tr>
        <th data-field="folder_name">Folder Name</th>
        <th data-field="permission">Permission</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let accessFolder of accessFolders">
        <td>{{accessFolder.name}}</td>
        <td>
          <label>Select Permissions</label>
          <select class="browser-default" disabled>
            <option value="" disabled selected>Browse</option>
            <option value="1">Browse</option>
            <option value="2">Browse and Move</option>
            <option value="3">Hidden</option>
            <option value="4">Search only</option>
          </select>
        </td>
      </tr>
      <tr class="row">
        <form (submit)="addFolder()" *ngIf="folders" class="">
          <td class="col l6">
            <label>Select Folder</label>
            <select class="hoverable browser-default" [(ngModel)]="selFolder" required>
              <!-- <option disabled selected>Choose Folder</option> -->
              <option [ngValue]="folder" *ngFor="let folder of folders">{{folder.name}}</option>
            </select>
          </td>
          <td class="col l3">
            <button class="btn waves-effect waves-light right right-align btn-margin" type="submit"><i class="material-icons right">send</i>Add Folder</button>
          </td>
        </form>
      </tr>
      <div *ngIf="!folders">
        <pre-loader></pre-loader>
      </div>
    </tbody>
  </table>

</div>


